<!DOCTYPE html>
<html lang="ko">
<head>
	<title>제일싸플라워</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="author" content="제일싸플라워">
	<meta name="description" content="빠른당일전국꽃배달 꽃바구니, 꽃다발, 경조화환, 관엽/개업화분, 전화상담환영">
	<meta name="keywords" content="꽃바구니,꽃다발,꽃박스,축하화환,근조화환,동양란,서양란,공기정화,관엽/화분,분재,장미100송이,과일바구니제일싸플라워">
	<meta name="classification" content="꽃바구니,꽃다발,꽃박스,축하화환,근조화환,동양란,서양란,공기정화,관엽/화분,분재,장미100송이,과일바구니,제일싸플라워">
	<link rel="canonical" href="http://www.je1ssa.co.kr">
	<!-- 대표 URL -->

	<!-- 네이버 -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="제일싸플라워">
	<meta property="og:description" content="빠른당일전국꽃배달 꽃바구니, 꽃다발, 경조화환, 관엽/개업화분, 전화상담환영">
	<meta property="og:image" content="http://img.ssenflower.co.kr/icon_128x128.png">
	<meta property="og:url" content="http://www.je1ssa.co.kr">
	<!-- 네이버 -->

	<link rel="shortcut icon" type="image/x-icon" href="http://img.ssenflower.co.kr/favicon.ico">
	<link rel="stylesheet" href="http://static.je1ssa.co.kr/css/reset.css" type="text/css">


	<!--180625 수정 -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://static.je1ssa.co.kr/css/renew/init.css" type="text/css">
	<!-- // -->
	
<!--	<link rel="stylesheet" href="../static/css/renew/init.css" type="text/css">	-->

	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">

	<!--푸터 제거-->
	<!--<link rel="stylesheet" href="http://static.je1ssa.co.kr/css/footer.css">-->



	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

	<!--
<script type="text/javascript" src="http://static.je1ssa.co.kr/js/jquery.cookie.js"></script>
<script type="text/javascript" src="http://static.je1ssa.co.kr/js/bjqs-1.3.min.js"></script>
<script type="text/javascript" src="http://static.je1ssa.co.kr/js/jcarousellite_1.0.1c4_main.js"></script>
<script type="text/javascript" src="http://static.je1ssa.co.kr/js/jquery.number.js"></script>
<script type="text/javascript" src="http://static.je1ssa.co.kr/js/com_w.js"></script>
<script type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script><script charset="UTF-8" type="text/javascript" src="http://t1.daumcdn.net/postcode/api/core/180619/1529384927473/180619.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
-->

</head>
<body>

	<h1 class="hidden">제일싸플라워</h1>
		
	<div id="wrap">
		<div id="logo-wrap">
			<div class="wrap">
				<div class="logo_re"><a href="http://www.je1ssa.co.kr"><img src="http://img.je1ssa.co.kr/renew/logo.png" alt="제일싸플라워로고"></a></div>
				<div class="tel clr">
					<img src="http://img.je1ssa.co.kr/renew/pic_call.png" alt="상담전화">
					<span class="s-1 thColor">전국 꽃배달 !  당일 2시간 OK !</span>
					<span class="s-2 thColor2">1688-3672</span>
				</div>
			</div>
		</div>
		
		<div id="header" style="z-index:9999;">
			<div id="gnb-wrap">
				<div class="wrpa">
					<div class="main_gnb">
						<ul>
							<li><a href="/home/goods/list.php?c=1">꽃바구니</a></li>
							<li><a href="/home/goods/list.php?c=2">꽃다발</a></li>
							<li><a href="/home/goods/list.php?c=3">꽃박스</a></li>
							<li><a href="/home/goods/list.php?c=4">축하화환</a></li>
							<li><a href="/home/goods/list.php?c=5">근조화환</a></li>
							<li><a href="/home/goods/list.php?c=6">동양란</a></li>
							<li><a href="/home/goods/list.php?c=7">서양란</a></li>
							<li><a href="/home/goods/list.php?s=11">공기정화</a></li>
							<li><a href="/home/goods/list.php?c=8">관엽/화분</a></li>
							<li><a href="/home/goods/list.php?c=9">분재</a></li>
							<li><a href="/home/goods/list.php?s=12">장미100송이</a></li>
							<li><a href="/home/goods/list.php?c=10">과일바구니</a></li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
		
		<div class="main">
		
			<div class="sec-mainVisual">
				<div class="mv-container">
					<h2 class="mv-txt">
						<img src="http://img.je1ssa.co.kr/renew/mv_txt.png" alt="제일싸플라워는 가격만 저렴하지 않아요">
					</h2>
					<div class="special-wrpa">
						<div class="tit"><strong class="f-bd">특별한 날은 꽃배달이 정답!</strong> 마음을 전하세요.</div>
						<ul>
							<li><a href="/home/goods/list.php?depth=K"><img src="http://img.ssenflower.co.kr/special_img_01.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=L"><img src="http://img.ssenflower.co.kr/special_img_02.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=M"><img src="http://img.ssenflower.co.kr/special_img_03.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=N"><img src="http://img.ssenflower.co.kr/special_img_04.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=O"><img src="http://img.ssenflower.co.kr/special_img_05.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=P"><img src="http://img.ssenflower.co.kr/special_img_06.gif"></a></li>
						</ul>
						<ul>
							<li><a href="/home/goods/list.php?depth=Q"><img src="http://img.ssenflower.co.kr/special_img_07.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=R"><img src="http://img.ssenflower.co.kr/special_img_08.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=S"><img src="http://img.ssenflower.co.kr/special_img_09.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=T"><img src="http://img.ssenflower.co.kr/special_img_10.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=U"><img src="http://img.ssenflower.co.kr/special_img_11.gif"></a></li>
							<li><a href="/home/goods/list.php?depth=V"><img src="http://img.ssenflower.co.kr/special_img_12.gif"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- // -->
			
		</div>
		
		<div id="content-wrap">
			<div class="wrap">
				<div class="category-warp">
					<div class="category-list">
						<h2 class="h2-tit ftfm-nq cf">
							<span class="s-1">꽃바구니 베스트</span> <img src="http://img.je1ssa.co.kr/renew/flower.png" alt="꽃"> <span class="gray">best hot price !</span>
							<a class="a-more" href="">상품더보기 <span class="go">GO</span></a>
						</h2>
						<ul class="cf">
							<li>
								<a href="/home/goods/detail.php?z=237">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20151224154014.jpg"></p>
									<p class="txt">100송이 핑크혼합바구니</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>274,800원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 229,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 2,290원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=241">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20151224155049.jpg"></p>
									<p class="txt">100송이 빨강바구니</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>250,800원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 209,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 2,090원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=215">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20151116173713.jpg"></p>
									<p class="txt">마르샤바구니</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>90,000원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 75,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 750원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=193">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20091228181757.jpg"></p>
									<p class="txt">여왕의 자존심</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>82,800원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 69,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 690원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=193">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20151116174005.jpg"></p>
									<p class="txt">천사의 속상임</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>64,800원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 54,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 540원</p>
								</a>
							</li>
						</ul>
						
						<h2 class="h2-tit ftfm-nq">
							<span class="s-1">근조화한 베스트</span> <img src="http://img.je1ssa.co.kr/renew/flower.png" alt="꽃"> <span class="gray">best hot price !</span>
							<a class="a-more" href="">상품더보기 <span class="go">GO</span></a>
						</h2>
						<ul class="cf">
							<li>
								<a href="/home/goods/detail.php?z=118">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20100207192525.jpg"></p>
									<p class="txt">근조화환 5단 - A</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>240,000원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 200,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 2,000원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=130">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20140203114028.jpg"></p>
									<p class="txt">근조화환 3단 - H</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>127,200원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 106,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 1,060원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=135">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20160107174011.jpg"></p>
									<p class="txt">근조화환 3단 - B</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>108,000원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 90,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 900원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=131">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20160107143345.jpg"></p>
									<p class="txt">근조화환 3단 - A</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>78,000원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 65,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 650원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=131">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20110131132405.JPG"></p>
									<p class="txt">근조화환 3단 - I</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>112,000원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 94,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 940원</p>
								</a>
							</li>
						</ul>
						
						<h2 class="h2-tit ftfm-nq">
							<span class="s-1">동양난 베스트</span> <img src="http://img.je1ssa.co.kr/renew/flower.png" alt="꽃"> <span class="gray">best hot price !</span>
							<a class="a-more" href="">상품더보기 <span class="go">GO</span></a>
						</h2>
						<ul class="cf">
							<li>
								<a href="/home/goods/detail.php?z=304">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20100322180839.jpg"></p>
									<p class="txt">서화-동(東)</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>130,800원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 109,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 1,090원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=327">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20150923182959.jpg"></p>
									<p class="txt">황용금</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>127,200원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 106,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 1,060원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=278">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20150923174436.jpg"></p>
									<p class="txt">금침</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>82,800원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 69,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 690원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=322">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20150923175811.jpg"></p>
									<p class="txt">[겨울] 산천보세</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>57,600원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 48,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 480원</p>
								</a>
							</li>
							<li>
								<a href="/home/goods/detail.php?z=322">
									<p class="img"><img src="http://file.je1ssa.co.kr/prod_image/b_imgs/20130215100436.jpg"></p>
									<p class="txt">보산조</p>
									<p class="price"><img src="http://img.ssenflower.co.kr/price_icon.jpg"> <del>115,200원</del></p>
									<p class="discount"><img src="http://img.ssenflower.co.kr/discount_icon.jpg"> 96,000원</p>
									<p class="point2"><img src="http://img.ssenflower.co.kr/point_icon.jpg"> 960원</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
				
				
			</div>
		</div>
		
		
	</div>
	<!-- // -->
	
	<div class="cf"></div>
	<div id="Footer">
		<div class="footermn-wrap">
			<div class="wrap">
				<div class="policy">
					<a onclick="util.pop('/home/policy/agree.php', 'policy', 738, 640);">이용약관</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a onclick="util.pop('/home/policy/privacy.php', 'policy', 738, 640);" class="privacy">개인정보처리방침</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="http://www.ebiznetworks.co.kr/home/company" target="_blank">회사소개</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="/home/customer/guide.php">이용안내</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="https://www.inicis.com/payment_view" target="_blank">영수증출력하기</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="/home/board/list.php?b=qna">1:1문의하기</a>
				</div>
			</div>
		</div>
		<div class="footerinfo-wrap">
			<div class="wrap cf">
				<div class="logo"><img src="http://img.je1ssa.co.kr/renew/logo_footer_g.png"></div>
				<div class="email">
					<p class="p-1">이메일 문의</p>
					<p class="p-2">ebizflower@ebiznetworks.co.kr</p>
				</div>
				<div class="txt">
					<p>
						<strong>(주)이엔자산개발</strong>
						<span>
							대표이사 : 박기범<br>
							주소 : 충청남도 아산시 온천대로 1555, 1313호 (온천동,모노팰리스)<br>
							사업자등록번호 : 312-86-20373 <a href="javascript:onopen();" target="_blank">[ 사업자정보확인 ]</a> 팩스번호 : 02-6255-3096 부가통신사업신고번호 : 제 20011-충남아산-00010호				
						</span>

					</p>
					<p>
						<strong>(주)이비즈네트웍스</strong>
						<span>
							대표이사 : 박기범<br>
							주소 : 서울특별시 강남구 테헤란로 82길 15, 14층 (대치동,디아이타워)<br>
							사업자등록번호 : 220-87-30865 <a href="javascript:onopen('ebiz');" target="_blank">[ 사업자정보확인 ]</a> 부가통신사업신고번호 : 강남-11501호				
						</span>
					</p>
					<form name="frm2" style="display:none;">
					<input name="wrkr_no" type="hidden" value="2208730865">
					</form>
					<p class="copy">Copyright©je1ssa. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- // -->
	
	
</body>
</html>