<!DOCTYPE html>
<html lang="ko">
<head>
	<title>붐플라워</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="Cache-Control" content="No-Cache">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="false">
	<meta name="author" content="붐플라워">
	<meta name="description" content="빠른당일전국꽃배달 꽃바구니, 꽃다발, 경조화환, 관엽/개업화분, 전화상담환영">
	<meta name="keywords" content="꽃바구니,꽃다발,꽃박스,축하화환,근조화환,동양란,서양란,공기정화,관엽/화분,분재,장미100송이,과일바구니붐플라워">
	<meta name="classification" content="꽃바구니,꽃다발,꽃박스,축하화환,근조화환,동양란,서양란,공기정화,관엽/화분,분재,장미100송이,과일바구니,붐플라워">
	<link rel="canonical" href="http://www.je1ssa.co.kr">
	<!-- 대표 URL -->

	<!-- 네이버 -->
	<meta property="og:type" content="website">
	<meta property="og:title" content="붐플라워">
	<meta property="og:description" content="빠른당일전국꽃배달 꽃바구니, 꽃다발, 경조화환, 관엽/개업화분, 전화상담환영">
	<meta property="og:image" content="http://img.ssenflower.co.kr/icon_128x128.png">
	<meta property="og:url" content="http://www.je1ssa.co.kr">
	<!-- 네이버 -->

	<link rel="shortcut icon" type="image/x-icon" href="http://img.ssenflower.co.kr/favicon.ico">
<!--	<link rel="stylesheet" href="http://static.boomflower.co.kr/css/reset.css" type="text/css">-->
	<link rel="stylesheet" href="../static/css/reset.css" type="text/css">


	<!--180625 수정 -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
<!--	<link rel="stylesheet" href="http://static.boomflower.co.kr/css/renew/init.css" type="text/css">-->
	<!-- // -->
	
	<link rel="stylesheet" href="../static/css/renew/init.css" type="text/css">	

	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">

	<!--푸터 제거-->
	<!--<link rel="stylesheet" href="http://static.boomflower.co.kr/css/footer.css">-->



	<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>

	
<script type="text/javascript" src="http://static.boomflower.co.kr/js/bjqs-1.3.min.js"></script>
<!--
<script type="text/javascript" src="http://static.boomflower.co.kr/js/jquery.cookie.js"></script>
<script type="text/javascript" src="http://static.boomflower.co.kr/js/jcarousellite_1.0.1c4_main.js"></script>
<script type="text/javascript" src="http://static.boomflower.co.kr/js/jquery.number.js"></script>
<script type="text/javascript" src="http://static.boomflower.co.kr/js/com_w.js"></script>
<script type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script><script charset="UTF-8" type="text/javascript" src="http://t1.daumcdn.net/postcode/api/core/180619/1529384927473/180619.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
-->


</head>
<body>

	<h1 class="hidden">붐플라워</h1>
		
	<div id="wrap">
		<div id="bookmark-wrap">
			 <div class="wrap">
				 <div class="login">
					<ul>
						<li><a href="http://www.boomflower.co.kr/home/member/login.php">로그인</a></li>
						<li class="line">l</li>
						<li><a href="/home/mypage/myinfo.php">마이페이지</a></li>
						<li class="line">l</li>
						<li><a href="/home/mypage/order_list.php">주문/배송조회</a></li>
						<li class="line">l</li>
						<li><a href="/home/goods/cart.php">장바구니</a></li>
						<li class="line">l</li>
						<li><a href="/home/board/list.php">고객센터</a></li>
					</ul>
				 </div>
			</div>
		</div>
		<div id="logo-wrap">
			<div class="wrap">
				<div class="logo_re"><a href="http://www.je1ssa.co.kr"><img src="http://img.boomflower.co.kr/renew/logo.png" alt="붐플라워로고"></a></div>
				<div class="search">
					<form name="sform" onsubmit="return goods.search();" method="post" action="/home/goods/search.php">
					<div class="search_bar">
						<input id="keyword" name="keyword" class="inputTypeText" value="" type="text">
						<span class="icon">
							<span class="mag-1"></span>
						</span>
					</div>
					</form>   
				</div>
			</div>
		</div>
		
		<div id="header" style="z-index:9999;">
			<div id="gnb-wrap">
				<div class="wrpa">
					<div class="main_gnb">
						<ul>
							<li><a href="/home/goods/list.php?c=1">꽃바구니</a></li>
							<li><a href="/home/goods/list.php?c=2">꽃다발</a></li>
							<li><a href="/home/goods/list.php?c=3">꽃박스</a></li>
							<li><a href="/home/goods/list.php?c=4">축하화환</a></li>
							<li><a href="/home/goods/list.php?c=5">근조화환</a></li>
							<li><a href="/home/goods/list.php?c=6">동양란</a></li>
							<li><a href="/home/goods/list.php?c=7">서양란</a></li>
							<li><a href="/home/goods/list.php?s=11">공기정화</a></li>
							<li><a href="/home/goods/list.php?c=8">관엽/화분</a></li>
							<li><a href="/home/goods/list.php?c=9">분재</a></li>
							<li><a href="/home/goods/list.php?s=12">장미100송이</a></li>
							<li><a href="/home/goods/list.php?c=10">과일바구니</a></li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
		
		
		<div id="sub-wrap">
			<div class="detail-wrap">
				<div class="img-info">
					<div class="imgw"><img src="http://file.boomflower.co.kr/prod_image/b1_img/20091228181757.jpg" id="image"></div>
					<div class="thumb">
						<ul><li style="cursor: pointer;"><img src="http://file.boomflower.co.kr/prod_image/b1_img/20091228181757.jpg" onmouseover="goods.thum('http://file.boomflower.co.kr/prod_image/b1_img/20091228181757.jpg')"></li><li style="cursor: pointer;"><img src="http://file.boomflower.co.kr/prod_image/b2_img/20091228181757.jpg" onmouseover="goods.thum('http://file.boomflower.co.kr/prod_image/b2_img/20091228181757.jpg')"></li><li style="cursor: pointer;"><img src="http://file.boomflower.co.kr/prod_image/b3_img/20091228181757.jpg" onmouseover="goods.thum('http://file.boomflower.co.kr/prod_image/b3_img/20091228181757.jpg')"></li></ul>
					</div>
					<div class="txt">
						<p>위 상품의 이미지는 <span class="co">일반가격 기준으로 제작</span>되었으며, 실속/일반/고급상품이미지의<br>
						차이는 풍성함의 차이입니다. 또한 상품의 배송지역 및 계절에 따라서 바구니 모양(색),<br>
						포장지 종류(색), 꽃소재, 화분 모양(색) 등이 달라질 수 있습니다.<br>
						<span class="co">*모든 상품사진의 저작원은 붐플라워에 있으므로 무단도용시 법적 제재를 받으실 수 있습니다.</span></p><br>
										※ 본 사이트의 상품정보는 <span style="color: #ff5959;font-weight: 600;">쎈플라워</span>에서 제공하고 있습니다.<br>이용하고자 하는 서비스는 본 사이트 및 쎈플라워 모두 확인 가능합니다.
					</div>
				</div>
				
				
				
				<div class="pr-info">
					<h4>여왕의 자존심 <span class="par"><span class="star">★★★★</span> (4.0)</span></h4>
					<form name="buy" method="post" action="order.php">
						<table class="info-table">
							<colgroup>
								<col width="19%">
								<col width="22%">
								<col width="22%">
								<col width="22%">
							</colgroup>
							
							<tbody>
								<tr>
									<th>상품선택</th>
									<td><input type="radio" name="price" id="pay1" value="1" class="radio" checked="" onclick="price_total();"> <label for="pay1">실속</label></td>
									<td><input type="radio" name="price" id="pay2" value="2" class="radio" onclick="price_total();"> <label for="pay2">일반</label></td>
									<td><input type="radio" name="price" id="pay3" value="3" class="radio" onclick="price_total();"> <label for="pay3">고급</label></td>
								</tr>
								<tr>
									<th>정상가</th>
									<td class="gr"><label for="pay1">82,800원</label></td>
									<td class="gr"><label for="pay2">94,800원</label></td>
									<td class="gr"><label for="pay3">106,800원</label></td>
								</tr>
								<tr>
									<th>최대할인가</th>
									<td class="re"><label for="pay1"><b>69,000원</b></label></td>
									<td class="re"><label for="pay2"><b>79,000원</b></label></td>
									<td class="re"><label for="pay3"><b>89,000원</b></label></td>
								</tr>
								<tr>
									<th>최대적립금</th>
									<td class="bl"><label for="pay1">690원</label></td>
									<td class="bl"><label for="pay2">790원</label></td>
									<td class="bl"><label for="pay3">890원</label></td>
								</tr>
								<tr class="tr-op">
									<td colspan="4">
										<p class="op-tit"><span class="s-1">옵션상품</span> 옵션상품은 배송지에 따라 상품이 다를 수 있습니다.</p>
										<ul class="cf option-list">
											<li>
												<div class="opimg"><img src="http://img.ssenflower.co.kr/detail_opimg01.jpg"></div>
												<div class="op">
													<p class="tx">케익</p><select name="opt1" onchange="price_total();"><option value="">= 선택하세요 =</option><option value="1">20,000원</option><option value="2">25,000원</option><option value="3">30,000원</option><option value="4">35,000원</option></select> 
												</div>
											</li>
											<li>
												<div class="opimg"><img src="http://img.ssenflower.co.kr/detail_opimg02.jpg"></div>
												<div class="op">
													<p class="tx">빼빼로</p><select name="opt2" onchange="price_total();"><option value="">= 선택하세요 =</option><option value="1">10,000원</option><option value="2">15,000원</option><option value="3">20,000원</option></select> </div>
											</li>
											<li>
												<div class="opimg"><img src="http://img.ssenflower.co.kr/detail_opimg03.jpg"></div>
												<div class="op">
													<p class="tx">사탕</p><select name="opt3" onchange="price_total();"><option value="">= 선택하세요 =</option><option value="1">10,000원</option><option value="2">15,000원</option><option value="3">20,000원</option></select> </div>
											</li>
											<li>
												<div class="opimg"><img src="http://img.ssenflower.co.kr/detail_opimg04.jpg"></div>
												<div class="op">
													<p class="tx">샴페인(무알콜)</p><select name="opt4" onchange="price_total();"><option value="">= 선택하세요 =</option><option value="1">10,000원</option><option value="2">15,000원</option><option value="3">20,000원</option></select> </div>
											</li>
										</ul>
										<ul class="cf option-list">
											<li>
												<div class="opimg"><img src="http://img.ssenflower.co.kr/detail_opimg05.jpg"></div>
												<div class="op">
													<p class="tx">초콜릿</p><select name="opt5" onchange="price_total();"><option value="">= 선택하세요 =</option><option value="1">10,000원</option><option value="2">15,000원</option><option value="3">20,000원</option></select> </div>
											</li>
											<li>
												<div class="op">
													<p class="tx">배송비 추가</p><select name="opt10" onchange="price_total();"><option value="">= 선택하세요 =</option><option value="1">5,000원</option><option value="2">10,000원</option></select> </div>
											</li>
										</ul>
										
									</td>
								</tr>
								<tr>
									<th rowspan="2">주문수량</th>
								</tr>
								<tr>
									<td colspan="4">
										<div class="no-w"><input name="cnt" class="ea" id="cnt" onkeydown="return util.number(event);" onblur="util.min(this.id);" size="2" maxlength="2" value="1" type="text"></div>
										<div class="no-b">
											<p><a onclick="goods.cnt('plus');price_total();"><img src="http://img.ssenflower.co.kr/btn_plus2.gif"></a></p>
											<p><a onclick="goods.cnt('minus');price_total();"><img src="http://img.ssenflower.co.kr/btn_minus2.gif"></a></p>
										</div>
									</td>
								</tr>
								<tr>
									<th rowspan="2">금액합계</th>
								</tr>
								<tr>
									<td colspan="4">
										<div id="total_price" style="color:#ed0000; font-weight:bold; font-size:25px;">69,000원</div>
									</td>
								</tr>
								
							</tbody>
							
						</table>
						<input type="hidden" name="z" value="193">
						<input type="hidden" name="mode" value="direct">
					</form>
					<div class="buy-bt">
						<a href="javascript:order();" class="pur-now">바로 구매하기</a>&nbsp;

						<a href="javascript: app_setup_show('w_detail');" class="pur-app">APP으로 구매<span class="sm">(APP으로 결제시 2,000원 추가 할인)</span></a>&nbsp;
						<a href="javascript:goods.cart();" class="cart">장바구니 담기</a>
					</div>

					<div id="test"></div>

					<div class="naverpay_button">

						<script type="text/javascript" src="https://pay.naver.com/customer/js/naverPayButton.js" charset="UTF-8"></script>
						<script type="text/javascript" src="https://pay.naver.com/customer/js/innerNaverPayButton.js?site_preference=normal&amp;425024" charset="UTF-8"></script>
						<link id="NAVER_PAY_STYLE" type="text/css" rel="stylesheet" href="https://img.pay.naver.net/static/css/button/button.css?425024">
						<script type="text/javascript">
							//<![CDATA[
							naver.NaverPayButton.apply({
								BUTTON_KEY: "C19C92F7-E0F0-4E75-BD9D-6214BB98CD68", // 네이버 페이에서 제공받은 버튼 인증 키 입력
								TYPE: "C", // 버튼 모음 종류 설정
								COLOR: 2, // 버튼 모음의 색 설정
								COUNT: 2, // 버튼 개수 설정. 구매하기 버튼만 있으면(장바구니 페이지) 1, 찜하기 버튼도 있으면(상품 상세 페이지) 2를 입력.
								ENABLE: "Y", // 품절 등의 이유로 버튼 모음을 비활성화할 때에는 "N" 입력
								BUY_BUTTON_HANDLER: buy_nc, // 구매하기 버튼 이벤트 Handler 함수 등록, 품절인 경우 not_buy_nc 함수 사용
								WISHLIST_BUTTON_LINK_URL: "http://www.boomflower.co.kr/home/goods/naverpay_zzim.php?num=193",
								WISHLIST_BUTTON_HANDLER: wishlist_nc, // 구매하기 버튼 이벤트 Handler 함수 등록, 품절인 경우 not_buy_nc 함수 사용
								"": ""
							});
							//]]>
						</script>
						<div id="NC_ID_1530086270281619" class="npay_storebtn_bx npay_type_C_2_2">
							<div id="NPAY_BUTTON_BOX_ID" class="npay_button_box ">
								<div class="npay_button">
									<div class="npay_text"><span class="npay_blind">NAVER 네이버 ID로 간편구매 네이버페이</span></div>
									<table class="npay_btn_list" cellspacing="0" cellpadding="0">
										<tbody>
											<tr>
												<td class="npay_btn_item"> <a id="NPAY_BUY_LINK_IDNC_ID_1530086270281619" href="#" class="npay_btn_link npay_btn_pay btn_green" style="box-sizing:content-box; " title="새창"><span class="npay_blind">네이버페이 구매하기</span></a> </td>
												<td class="npay_btn_item btn_width"> <a id="NPAY_WISH_LINK_IDNC_ID_1530086270281619" href="http://www.boomflower.co.kr/home/goods/naverpay_zzim.php?num=193" class="npay_btn_link npay_btn_zzim " style="box-sizing:content-box; " title="새창"><span class="npay_blind">찜하기</span></a> </td>
												<td class="npay_btn_item btn_width"> <a id="NPAY_TALK_LINK_IDNC_ID_1530086270281619" href="#" class="npay_btn_link npay_btn_talk " style="box-sizing:content-box; " title="새창"><span class="npay_blind">톡톡</span></a> </td>
											</tr>
										</tbody>
									</table>
								</div>
								<div id="NPAY_EVENT_ID" class="npay_event"> <a id="NPAY_PROMOTION_PREV_IDNC_ID_1530086270281619" href="#" class="npay_more npay_more_prev"><span class="npay_blind">이전</span></a>
									<p id="NPAY_PROMOTION_IDNC_ID_1530086270281619" class="npay_event_text"><strong class="event_title">[KB포인트리]</strong><a class="event_link" href="http://m.post.naver.com/viewer/postView.nhn?volumeNo=13442827&amp;memberNo=30633733" target="_blank" title="새창">를 네이버페이로 전환할 수 있다고?</a></p> <a id="NPAY_PROMOTION_NEXT_IDNC_ID_1530086270281619" href="#" class="npay_more npay_more_next"><span class="npay_blind">다음</span></a> </div>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="cf"></div>
				<div class="detail-cont1">
					<!--180627 기존 탭 대체 on으로 활성화 표시, 위치는 id값과 a 태그의 href=#id값 -->
					<div class="tab-box">
						<ul class="tab-list cf">
							<li class="tab-1 on"><a href="">상품 상세정보</a></li>
							<li class="tab-2"><a href="">상품후기</a></li>
							<li class="tab-3"><a href="">배송/교환/환불안내</a></li>
						</ul>
					</div>
					
					<div class="info-detail-img">
						<img src="http://file.boomflower.co.kr/prod_image/content_img/20091228181757.jpg">
						<div id="goods_detail" style="margin-top:10px;margin-bottom:20px;">
							사랑하는 연인에게 특별한 날, 생일축하, 사랑 고백 등 각종 축하용 선물로 좋습니다.<br><br><br>
							<font color="#44aeff" size="3"><strong>[상품 구성]</strong></font><br><br>연핑크장미(부르트), 블루스타, 부바르디아, 그린소재, 고급바구니와 세련된 디자인 전문 플로리스트 상품제작<br><br>
							<font color="#44aeff" size="3"><strong>[상품용도]</strong></font><br><br>결혼기념일, 출산, 연주회, 축하용품, 수상, 전시회, 생일, 기념일<br><br>
							<font color="#44aeff" size="3"><strong>[주의 사항]</strong></font><br><br>샘플사진의 포장방법과 상품구성 소재는 지역과 계절따라 조금씩 달라질수 있으나, 이미지와 거의 유사하게 배달합니다.<br><br>
							<font color="#44aeff" size="3"><strong>[관리방법]</strong></font><br><br>상품안에는 물을 먹는 스폰지 같은 플로랄 폼(시중에서는 오아시스라고 많이 부른다)이 있고, 꽃은 이것에 꽂아져있다.<br><br>그러므로 꽃을 오래 보려면 꽃이 물을 빨아먹은 만큼 물을 보충하면 된다.<br><br>보통 아침마다 물 한 컵 정도를 바구니 중심을 향해 부어주면 오아시스가 물을 머금고,<br><br>꽃을 물은 계속해서 흡수할 수 있어 오랫동안 볼 수 있다.<br><br>바구니에 물을 부으면 물이 새어 오염을 시킬까 염려도 되겠지만<br><br>물이 바닥으로 흐르지 않도록 바구니 바닥에 비닐을 깔아 두었으므로 큰 염려는 하지 않아도 된다. 
						</div>
						<img src="http://img.ssenflower.co.kr/site/boomflower/intro/intro_01.jpg"> 
					</div>
				</div>
				
			</div>
		</div>
		
		
		<div class="cf"></div>
		<div class="cs-wrap cf">
			<div class="cswrap">
				<p class="p-1">고객센터 상담안내</p>
				<p class="p-2 cf">
					<span class="callNum">1688-5480</span>
					<span class="callInfo">
						평일 :  오전 09:00 ~ 오후 18:00<br>
						토요일 : 오전 09:00 ~ 오후 17:00<br>
						일요일/공휴일 휴무 
					</span>
				</p>
			</div>
			
			<div class="quickmenu">
				<p class="p-1">QUICK MENU</p>
				<ul>
					<li><a href="/home/board/faq.php"><img src="http://img.boomflower.co.kr/renew/main_co_img3_1.jpg"><br>자주묻는질문</a></li>
					<li><a href="/home/mypage/myinfo.php"><img src="http://img.boomflower.co.kr/renew/main_co_img3_2.jpg"><br>마이페이지</a></li>
					<li><a href="/home/goods/cart.php"><img src="http://img.boomflower.co.kr/renew/main_co_img3_3.jpg"><br>장바구니</a></li>
					<li><a onclick="util.pop('/home/etc/message1.php', 'message', 600, 620);"><img src="http://img.boomflower.co.kr/renew/main_co_img3_4.jpg"><br>카드메시지</a></li>
					<li><a onclick="util.pop('/home/etc/memorial.php', 'etc', 600, 620);"><img src="http://img.boomflower.co.kr/renew/main_co_img3_5.jpg"><br>기념일계산</a></li>
				</ul>
			</div>
		</div>
		
		
	</div>
	<!-- // -->
	
	<div class="cf"></div>
	<div id="Footer">
		<div class="footermn-wrap">
			<div class="wrap">
				<div class="policy">
					<a onclick="util.pop('/home/policy/agree.php', 'policy', 738, 640);">이용약관</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a onclick="util.pop('/home/policy/privacy.php', 'policy', 738, 640);" class="privacy">개인정보처리방침</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="http://www.ebiznetworks.co.kr/home/company" target="_blank">회사소개</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="/home/customer/guide.php">이용안내</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="https://www.inicis.com/payment_view" target="_blank">영수증출력하기</a>
					&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
					<a href="/home/board/list.php?b=qna">1:1문의하기</a>
				</div>
			</div>
		</div>
		<div class="footerinfo-wrap">
			<div class="wrap cf">
				<div class="logo"><img src="http://img.boomflower.co.kr/renew/logo_footer_g.png"></div>
				<div class="txt">
					<p>
						<strong>(주)이비즈에셋</strong>
						<span>
							대표이사 : 김병종<br>
							주소 : 서울특별시 강남구 테헤란로 82길 15, 15층 (대치동,디아이타워)<br>
							사업자등록번호 : 865-87-00164 <a href="javascript:onopen();" target="_blank">[ 사업자정보확인 ]</a> &nbsp;&nbsp;팩스번호 : 02-6255-3096 부가통신사업신고번호 : 제2015-서울강남-02194호
						</span>

					</p>
					<p>
						<strong>(주)이비즈네트웍스</strong>
						<span>
							대표이사 : 박기범<br>
							주소 : 서울특별시 강남구 테헤란로 82길 15, 14층 (대치동,디아이타워)<br>
							사업자등록번호 : 220-87-30865 <a href="javascript:onopen('ebiz');" target="_blank">[ 사업자정보확인 ]</a> &nbsp;&nbsp;부가통신사업신고번호 : 강남-11501호				
						</span>
					</p>
					<form name="frm2" style="display:none;">
					<input name="wrkr_no" type="hidden" value="2208730865">
					</form>
					<p class="copy">Copyright©boomflower. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- // -->
	
	
</body>
</html>