


<!---고은지 변경부분
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

고은지 변경부분--->
<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="viewport" content="width=720, user-scalable=no , target-densitydpi=device-dpi" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
<meta charset="UTF-8">
<title>쎈플라워</title>
<link rel="stylesheet" href="http://static.ssenflower.co.kr/css/layout_m.css?v=1482113576" />
<link rel="stylesheet" href="http://static.ssenflower.co.kr/css/reset_m.css" />
<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css" />

<!--icon_fontawesome-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



<!-- Android icon -->
<link rel="shortcut icon" href="http://img.ssenflower.co.kr/icon_72x72.png" />
<!-- iPhone icon -->
<link rel="apple-touch-icon" sizes="57x57" href="http://img.ssenflower.co.kr/icon_57x57.png" />
<!-- iPad icon -->
<link rel="apple-touch-icon" sizes="72x72" href="http://img.ssenflower.co.kr/icon_72x72.png" />
<!-- iPhone icon(Retina) -->
<link rel="apple-touch-icon" sizes="114x114" href="http://img.ssenflower.co.kr/icon_114x114.png" />
<!-- iPad icon(Retina) -->
<link rel="apple-touch-icon" sizes="144x144" href="http://img.ssenflower.co.kr/icon_144x144.png" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://static.ssenflower.co.kr/js/com_m.js?v=1482113576"></script>
<script type="text/javascript" src="http://static.ssenflower.co.kr/js/iscroll.js"></script>
<script type="text/javascript" src="http://static.ssenflower.co.kr/js/jquery.number.js"></script>
<script type="text/javascript" src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
<script type="text/javascript" src="http://static.ssenflower.co.kr/js/jquery.cookie.js"></script>
<script src="http://static.ssenflower.co.kr/js/bookmark.js?ver=1482113576"></script>
<script type="text/javascript" src="http://wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">

</script>
</head>
<body>

<div id="wrap">

<!--친구추천팝업-->
<div id="fr_eventWrap">
	<div class="fr_event_fr">		
		<div class="today_close"> <input type="checkbox" class="fr_input"/><span>7일동안 그만보기</span></div>
		<p class="closeBtn02">닫기&nbsp;X</p>
		<p class="moreBtn03"><a href=""></a></p>
	</div>
</div><!--fr_eventWrap-->


<script>

</script>


</script>



</div>
</body>
</html>
