<!DOCTYPE html>
<html lang="ko-KR">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta http-equiv="cleartype" content="on">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<meta name="viewport" id="viewport" content="width=720, user-scalable=no , target-densitydpi=device-dpi" />
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=no" />
	<title>쎈플라워</title>



<!-- <link rel="stylesheet" href="http://static.ssenflower.co.kr/css/layout_m.css?v=1485839772" /> -->
<link rel="stylesheet" href="../../src/css/layout_m_tmp.css">
<link rel="stylesheet" href="http://static.ssenflower.co.kr/css/reset_m.css" />
<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css" />
	
<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.2.min.js"></script>

</head>
<body>


<!--로그인 전 팝업-->
<!-- <div class="fr_box">

	<div class="event_row">
		<div class="fr_event_pop">
			<a href="#">
				<img src="http://img.ssenflower.co.kr/m_img/fr_pop01.jpg" alt="적립금받기배너">
			</a>
		
			<div class="close">
				<p class="close7 clr">
					<label for="fr_pop" class="txt">7일간 보지 않기</label>
					<input name="fr_pop" type="checkbox" id="fr_pop" class="check1"> 
					<a href="#" class="clsBtn">닫 기</a>
				</p>
			</div>
		</div>
	</div>

</div> -->


<!--로그인 후 팝업-->
<div class="fr_box">

	<div class="event_row">
		<div class="fr_event_pop">
			<a href="#">
				<img src="http://img.ssenflower.co.kr/m_img/fr_pop02.jpg" alt="할인쿠폰받기배너">
			</a>
		
			<div class="close">
				<p class="close7 clr">
					<label for="fr_pop2" class="txt">7일간 보지 않기</label>
					<input name="fr_pop" type="checkbox" id="fr_pop2" class="check1"> 
					<a href="#" class="clsBtn">닫 기</a>
				</p>
			</div>
		</div>
	</div>

</div>


	
</body>
</html>
