@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
/* @ nomarlize */

html {font-family:'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif,Helvetica,AppleGothic;/* 1 */-ms-text-size-adjust: 100%; /* 2 */-webkit-text-size-adjust: 100%; /* 2 */}

select,option {-webkit-border-radius:0;-webkit-appearance:none}

select {padding-left:20px; font-size:25em; font-family:'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif,Helvetica,AppleGothic;height: 55px;border: 2px solid #e4e4e4;border-radius: 10px;overflow: hidden;line-height:24px;color:#4a4a4a;background: url(http://img.ssenflower.co.kr/m_img/arrow.png) no-repeat 95% 50%}

input {padding-left:20px; text-align:center;font-size:25em; font-family:'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif,Helvetica,AppleGothic;height: 55px;border: 2px solid #e4e4e4;color:#4a4a4a;text-align:left;border-radius: 10px}

li {list-style:none;}

ul,ol,dl {margin:0;padding:0;font-weight:normal;font-style:normal;}

textarea {padding:20px;font-size:22px;font-family:'Nanum Gothic', '나눔고딕', 'NanumGothicWeb', '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, sans-serif,Helvetica,AppleGothic;border: 2px solid #e4e4e4;border-radius: 10px;line-height:24px;color:#4a4a4a}

input.chk,

input.rdo {width:40px;height:40px;border:none;background:url(http://img.ssenflower.co.kr/m_img/uio_form.png) no-repeat;-webkit-border-radius:0;-webkit-appearance:none;}

input.rdo {background-position:-40px 0}

input[type=radio]:checked{background-position:-40px -40px}

input[type=checkbox]:checked{background-position:0 -40px}

a { cursor: pointer;}
a, a:link, a:visited {color: inherit;}


/* button */
button[type=button] {cursor: pointer;}

/* backDrop */
#backDrop, .backDrop {position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: block;}
#backDrop {display: none;}
/* dropDown-bg */
.dropDown-bg {position: fixed; z-index: 11; top: 0; left: 0; width: 100%; height: 100%; background: url(http://img.go.co.kr/black_rgba58.png) repeat;}

.appe-reset {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.appe-s-reset {
	border: 1px solid #ddd; border-radius: 0; background: #fff;
}


/* a태그 아이콘 X버튼*/
.a-i-x, .a-i-x2 {position: absolute; display: block; width: 20px; height: 20px; top: 10px; right: 10px;}
.a-i-x:before, .a-i-x:after,
.a-i-x2:before, .a-i-x2:after {content: ""; display: inline-block; position: absolute; width: 1px; height: 20px; background: #555;}
.a-i-x2:before, .a-i-x2:after {width: 20px; height: 1px;}
.a-i-x:before, .a-i-x2:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.a-i-x:after, .a-i-x2:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);   
}

/* rArrow, lArrow 버튼 */
.ic-lArrow:after, .ic-rArrow:after, .ic-bArrow:after {
  position: relative; top: -2px;
  content: ""; display: inline-block; width: 7px; height: 7px; border: 1px solid #898989;
  -webkit-transform: rotate(-45deg); 
  -ms-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  transform: rotate(-45deg); 
}
.ic-lArrow:after {
  border-right: 0; border-bottom: 0;
  left: 2px;
}
.ic-rArrow:after {
  border-top: 0; border-left: 0;
  right: 2px;
}
.ic-bArrow:after {
  border-top: 0; border-right: 0;
  top: 2px; width: 8px; height: 8px;
}
.ie8 .ic-lArrow:after, .ie8 .ic-rArrow:after {
  width: auto; height: auto; 
  border: 0; left: 0; right: 0;
}
.ie8 .ic-lArrow:after {content: "◀";}
.ie8 .ic-rArrow:after {content: "▶";}
.ie8 .ic-bArrow:after {content: "▼";}



/*** 탑버튼 */
#top {position:fixed; bottom:10px; right:10px; z-index:9999}
#top_sub {position:fixed; bottom:150px; right:10px ;z-index:9999}

/*** 헤더 */
#wrap {width:720px; margin:0 auto; overflow:hidden;}
#header {width:720px;height:93px; position:relative;} 
#header .logo {position: absolute; left: 50%; margin-left: -144px; top: 50%; margin-top: -25px;}
#header .menu {position: absolute; width:90px}
#header .menu {left: 0px; height:100%;}
#header .menu [class*=bar-] {display: block; width: 50px; height: 7px; background: #333; margin: 7px auto; margin-left: 25px; border-radius: 3px;}
#header .menu [class*=bar-]:first-child {margin-top: 28px;}
#header .top_menu {position: absolute; right: 0; padding-top: 20px;}
#header .top_menu > * {display: inline-block; vertical-align: middle;}
#header .srch {position: relative; margin-right: 25px;}
#header .srch .mag-1 {display: block; width: 28px; height: 28px; border: 5px solid #333; border-radius: 50%; background: #fff; top: 22px; right: 30px;}
#header .srch .mag-1:before {content: ""; position: absolute; width: 16px; height: 7px; border-radius: 20px; background: #333; transform: rotate(45deg); right: -7px; bottom: -3px;}
#header .cart {margin-right: 15px;}
#header .cart img {width: 55px;}
/*#header .top_menu {}*/
/*#header .top_menu ul li {width:90px;height:93px;}*/
/*#header .top_menu .my {position:absolute; left:90px;width:93px;height:93px;}*/
/*#header .top_menu .cart {position: absolute; right: 0; width: 90px; height: 100%;}*/

/*** gnb */
#gnb_wrap,
#gnb_wrap .btn {height: 70px;}
#gnb_wrap {position: relative;; width:720px; border: 1px solid #bababa; border-left: 0; border-right: 0;}
#gnb_wrap .btn {position: absolute; top: 0; width: 25px;}
#gnb_wrap .btn:before {content: ""; display: block; position: absolute; width: 100%; height: 100%; background: #fff; opacity: 0.5; top: 0; left: 0;}
#gnb_wrap .btn img {position: absolute; display: inline-block; width: 14px; top: 50%; margin-top: -11.5px;}
#gnb_wrap .btn-prev {left: 0;}
#gnb_wrap .btn-next {right: 0;}
#gnb_wrap .btn-prev img {left: 5px;}
#gnb_wrap .btn-next img {right: 5px;}
#gnb_wrap .gnb {position: relative;background: #fff; overflow-x: scroll;}
/*#gnb_wrap .gnb ul {margin-left: 40px;}*/
#gnb_wrap .gnb ul {width: 1000px; box-sizing: border-box; padding-left: 30px;}
#gnb_wrap .gnb ul:after {content: ""; display: table; clear: both;}
#gnb_wrap .gnb li {position: relative; float: left; margin-left: 20px;}
#gnb_wrap .gnb li:first-child {margin-left: 0;}
#gnb_wrap .gnb li a {display: block; font-size: 24px; line-height: 70px;}

/*
#gnb_wrap .gnb ul {display: table; width: 100%; height: 100%;}
#gnb_wrap .gnb li {display: table-cell;  width:179px; height: 100%; text-align:center; font-weight:600; color:#fff; border-left:1px solid #8149a1; letter-spacing:-1px}
#gnb_wrap .gnb li a {display:block; width:179px; height:100%; color:#fff; font-size:25px; text-decoration:none; letter-spacing:-1px}
#gnb_wrap .gnb li a span {display:inline-block; margin-top:20px}
#gnb_wrap .gnb li a:hover{color:#fffe82}
*/

/*** 검색 */
#search {position:absolute; top:168px; z-index:9999; padding-top:15px; width:720px; height:70px;background:#f7f7f7;border-bottom:1px solid #ff5e4d;text-align:center}
#search_result {margin-bottom:30px;padding-left:20px;width:700px;height:50px;font-size:25px;line-height:3;color:#4a4a4a}
#search_result span {color:#76a33d;font-weight:600}

/*** 메뉴 */
#category {position:relative;width:720px; left:0px;}
#category .link {float:left;width:635px; border:10px solid #dc3221; background-color:#FFF}
#category .link h3 {padding-left:20px;font-size:30px;font-weight:600;color:#dc3221;line-height:3}
#category .link td {padding-left:20px;height:90px;background:#f7f7f7;text-align:left;color:#515151;font-size:25px;border:1px solid #c8c8c8;line-height:3.5}
#category .link a {color:#58792d;text-decoration:none}
#category .link td.none {background:none;border:none}
#category .link .line {border-left:1px solid #c8c8c8}
#category .close {float:right;width:65px;height:65px}


.f-bd {font-weight: 700;}
.f-bdr {font-weight: 800;}
.thColor {color: #aa72ca;}
.thColor2 {color: #d73276;}
.ftfm-nq {font-family: "NanumSquare", "Nanum Square", "Nanum Gothic", sans-serif; letter-spacing: -0.5px;}
.ftfm-nq2 {font-family: "Nanum Square", "Nanum Gothic", sans-serif; letter-spacing: -0.5px;}
.cf:before, .cf:after {content: ""; display: table;}
.cf:after {clear: both;}


/*** 메인배너 */
#main_bn {width:720px; height:376; position:relative; overflow:hidden;}
#main_bn li {float:left; width: 100%;}
#main_bn .loca {position:absolute; left:200px; width:320px; text-align:center; z-index:999; margin-bottom:7px; }
#main_bn .slidee {overflow: hidden; z-index: 1;}
#main_bn .slidee a {display: block;}
#main_bn .slidee img {width: 100%;}
.loca { clear:both; height:16px; display:block; text-align:right; position:absolute; bottom:13px;}


/*** 메인서브메뉴배너 */
#main_subbn{width:720px; margin-top: 15px; padding-bottom: 25px; border-bottom: 1px solid #e8e8e8;}
#main_subbn ul{width:720px; float:left;}
#main_subbn ul li {float:left; width: 44%; border: 1px solid #cfcfcf; box-sizing: border-box; margin-left: 5%; margin-top: 2%; padding-top: 5px;}
#main_subbn ul li:nth-child(2n) {margin-left: 2%;}
#main_subbn ul li {text-align: center;}

.hr-bor {border: 0; height: 10px; background: #f6f6f6; margin: 0 auto;}

/*** 베스트상품 */
#best_product{width:720px; position:relative; border: 1px solid #e8e8e8; border-left: 0; border-right: 0;}
#best_product:after {content: ""; display: table; clear: both;}
#best_product .h2-tit {font-size: 32px; text-align: center; margin: 20px auto 30px; font-weight: 800; letter-spacing: 0;}
/*#best_product h4{floaT:left; margin:20px 0 5px 0;}*/
#best_product ul{float:left; width:720px; margin-bottom:50px}
#best_product li{float:left; margin-left:16px; text-align:center}
#best_product .info {width:336px; floaT:left }
#best_product .info .thumb {width:335px;height:335px; border:1px solid #ebebeb}
#best_product .info .goods {display:block; margin-top:10px; font-size:24px;font-weight:600; line-height:1.5; letter-spacing:-1px}
#best_product .info .goods span {display: inline-block; width: 49%;}
#best_product .info .goods .price{color:#696969; text-align: right;}
#best_product .info .goods .discount{color:#f21e25; text-align: left;}
#best_product .info .goods .price{color:#696969}
#best_product .info .goods .app_price {text-align: right;}
#best_product .info .goods .appSale {color: #fff; background: #ee595d; font-size: 20px; display: inline-block; line-height: 30px; width: 88px; margin-right: 5px; box-sizing: border-box; text-align: center;}
#best_product .info .goods .appSale + span {text-align: left; margin-left: 1%;}

/*** 고객센터 */
#cscenter{float:left; width:720px; margin:50px 0 40px 0; background:url(http://img.ssenflower.co.kr/m_img/cscenter_img.jpg) no-repeat; height:165px; position:relative}
#cscenter .cscenter_bt{position:absolute; top:93px; right:40px}

/*고객센터*/
.cs-wrap {width: 720px; padding: 30px 0; border-top: 1px solid #e8e8e8;}
.cs-wrap > div {box-sizing: border-box; padding: 0 16px; letter-spacing: -0.5px;}
.cs-wrap > div .p-1 {font-weight: 700; font-size: 22px; text-indent: 5px;}
.cs-wrap .cswrap {}
.cs-wrap .cswrap .p-2 {margin-top: 10px;}
.cs-wrap .cswrap .p-2 > span {display: inline-block; font-size: 16px; float: left; width: 50%;}
.cs-wrap .cswrap .p-2 .callNum {font-size: 40px; font-weight: 700; letter-spacing: -2px;}
.cs-wrap .cswrap .p-2 .callInfo {border-left: 1px solid #d1d1d1; line-height: 1.4; box-sizing: border-box; font-size: 20px; padding-left: 20px;}
.cs-wrap .cswrap .p-3 {position: relative; top: -26px; margin-bottom: -22px;}
.cs-wrap .cswrap .p-3 .a-callCenter { display: inline-block; background: #d73276; color: #fff; font-size: 20px; text-align: center; padding: 15px 20px; border-radius: 4px;}
.cs-wrap .cswrap .p-3 .a-callCenter .rArrow:after {border-color: #fff; width: 12px; height: 12px; top: 0;}

/*** 푸터 */
#footer_renew {clear:both; width:720px; background-color:#54585b; font-family: "Nanum Square", sans-serif; font-size: 24px; line-height:1.5; color: #ededed;}
#footer_renew .f_top {}
#footer_renew .f_top .f_menu {width:100%; border-bottom:1px solid #828282; text-align: center; font-size: 0;}
#footer_renew .f_top .f_menu > li {display: inline-block; position:relative; vertical-align:middle;}
#footer_renew .f_top .f_menu > li:before {content:''; display: inline-block; margin: 0 15px; width: 1px; height:20px; background-color:#ededed; vertical-align: middle; margin-top: -14px;}
#footer_renew .f_top .f_menu > li:first-child:before {display:none;}
#footer_renew .f_top .f_menu > li a {display:inline-block; text-align:center; text-decoration:none; font-size: 22px; padding: 15px 0; letter-spacing: -0.5px; color: #ededed;}

#footer_renew .f_btm {padding:30px 20px 40px; letter-spacing: -1px; font-size: 20px; text-align: center; color: #cdcdcd; word-break: keep-all;}
#footer_renew .f_btm .f_logo img {width: 220px;}
#footer_renew .f_btm address {margin-top:15px;}
#footer_renew .f_btm address strong {}
#footer_renew .f_btm .copy {margin-top:20px;}

/*
#footer_renew .f_btm .cs_center {overflow:hidden;}
#footer_renew .f_btm .cs_center > li {float:left; position:relative; margin-left:50px; padding-left:30px;}
#footer_renew .f_btm .cs_center > li:first-child {margin-left:0; padding-left:0;}
#footer_renew .f_btm .cs_center > li:before {content:''; display:block; position:absolute; left:0; top:2px; bottom:2px; width:1px; background-color:#6f6f6f;}
#footer_renew .f_btm .cs_center > li:first-child:before {display:none;}
#footer_renew .f_btm .cs_center > li > a {display:inline-block; position:relative; padding-left:48px; color:#a3a3a3; font-size:23px; text-decoration:none;}
#footer_renew .f_btm .cs_center > li > a.call:before {content:''; display:block; position:absolute; left:0; top:50%; width:30px; height:30px; margin-top:-15px; background:url('http://static.nurisoop.co.kr/images/m/f_call.png') no-repeat 0 0;}
#footer_renew .f_btm .cs_center > li > a.mail:before {content:''; display:block; position:absolute; left:0; top:50%; width:30px; height:30px; margin-top:-15px; background:url('http://static.nurisoop.co.kr/images/m/f_mail.png') no-repeat 0 0;}
*/

/*
#footer {width:720px; letter-spacing:-0.5px; clear:both}
#footer .foot_menu{width:670px; height:66px;  background:#eaeaea; color:#3b3b3b; font-size:22px; border-top:1px solid #d2d2d2; padding-left:50px}
#footer .foot_menu li {float:left; margin:0 30px; height:66px; text-align:center; line-height:2.7;}
#footer .foot_menu li a:hover,active{color:#092a8c; }
#footer .copy{clear:both; color:#494949; margin-bottom:10px; font-size:20px}
#footer .add {clear:both; font-size:20px; padding-top:20px; line-height:1.5; color:#494949; text-align:center}
*/

/*** 상단타이틀 */
#headTitle {position:relative; width:720px; height:75px; background-color:#f4f2f3; font-weight:bold; line-height:2.3; font-size:2em; color:#3f3f3f; text-align:center; letter-spacing:-1px; border-top:1px solid #bababa; border-bottom:1px solid #bababa; margin-bottom: 10px;}
#headTitle .title {clear:both; margin:auto; width:60%; text-overflow:ellipsis; white-space: nowrap; overflow: hidden; color:#000}
#headTitle .back {position:absolute; left:15px;}
#headTitle .back a{display:block;}
#headTitle .par {font-size: 22px;}
#headTitle .par .star {position: relative; top: -2px; color: #fc0; font-size: 28px; vertical-align: middle;}
/*#headTitle .back a img{margin-top:5px}*/

/*** 리스트상단 */
#list_top {position:relative; padding:10px; width:700px; font-size:25px;}
#list_top p {padding:0 20px; width:680px;}
#list_top span {color:#ff5e4d;font-weight:600}
#list_top .category {margin-top:20px;height:75px;}
#list_top .category li {float:left}
#list_top .category2 {float:left;margin-bottom:40px;width:696px;height:55px;border: 2px solid #e4e4e4;border-radius: 10px;font-size:22px;line-height:2.4;color:#838383}
#list_top .category2 li {float:left;display:inline-block;width:172px;height:55px;text-align:center}
#list_top .category2 a {display:block;overflow:hidden;color:#838383;text-decoration:none}
#list_top .category2 li.line {width:2px;height:55px;background:#e4e4e4}
#list_top .category2 li.on {color:#ff5e4d;font-weight:600}
#list_top .category2 li.on a{color:#ff5e4d;text-decoration:none}
.searchtxt {text-align:center; font-size:27px; font-weight:600; margin-bottom:30px; clear:both}

/*** 상품상세 */
#cnt {width: 50px;}
#detail_wrap{position:relative; width:720px; margin:auto 0;}
#detail_wrap .info{width:700px; padding:0 10px}
#detail_wrap .info h4{text-align:center; font-size:30px; letter-spacing: -1px; font-weight:600;}
#detail_wrap .info .detail_img{border:1px solid #dfdfdf; width:698px; height:698px; margin-top:0px}
#detail_wrap .info .detail_img img{width:698px; height:698px}

#detail_wrap .info .info-table {width:700px; letter-spacing:0; border-top:1px solid #d7d6d6; margin-top:20px; letter-spacing:-1.5;}
#detail_wrap .info .info-table tr.on{background:#fafafa; font-size:25px}
#detail_wrap .info .info-table th {padding:10px 0; text-align:center; background:#fafafa; border-bottom:1px solid #d7d7d7; border-right:1px solid #d7d7d7; font-weight:bold; font-size:25px}
#detail_wrap .info .info-table td { padding:10px 10px 10px 20px; text-align:center; border-bottom:1px solid #d7d7d7; line-height:1.5; border-top:1px solid #d7d7d7; font-size:25px}
#detail_wrap .info .info-table td .txt{font-size:11px; color:#f43723}
#detail_wrap .info .info-table td.re{font-size:25px;}
#detail_wrap .info .info-table td.bl{ color:#7e7e7e; font-size: 24px;}
#detail_wrap .info .info-table td.gr{ color:#7e7e7e}
#detail_wrap .info .info-table td .opimg{floaT:left;}
#detail_wrap .info .info-table td .op{floaT:left; margin-left:10px; margin-top: 15px;}
#detail_wrap .info .info-table td .op .tx{text-align:left; margin-bottom:5px}


#detail_wrap .info .info-table .op-tit {text-align: left; font-size: 20px; color: #888; padding: 10px 0 0px 10px;}
#detail_wrap .info .info-table .op-tit .s-1 {font-size: 26px; font-weight: 700; color: #333;}
#detail_wrap .info .info-table .option-list {font-size: 0;	text-align: left; margin-top: 0px; margin-bottom: 10px;}
#detail_wrap .info .info-table .option-list li {position: relative; display: inline-block; width: 50%; text-align: center; vertical-align: bottom; font-size: 24px;}
#detail_wrap .info .info-table .option-list li {}
#detail_wrap .info .info-table .s-lbl {}
#detail_wrap .info .info-table .appSale {color: #fff; background: #ee595d; font-size: 20px; display: inline-block; line-height: 30px; width: 88px; margin-right: 5px; box-sizing: border-box; text-align: center;}
#detail_wrap .info .info-table .appSale + span {text-align: left; margin-left: 1%;}
#detail_wrap .info .buy-bt {margin-top: 10px; width: 100%;}
#detail_wrap .info .buy-bt > * {display: inline-block; box-sizing: border-box; vertical-align: middle; text-align: center; font-size: 26px; line-height: 82px; height: 82px; width: 43%;}
#detail_wrap .info .buy-bt .pur-now {background: #d73276; color: #fff; margin-left: 2%;}
#detail_wrap .info .buy-bt .pur-app {background: #838383; color: #fff; line-height: 1.3; padding-top: 10px; margin-left: 6%;}
#detail_wrap .info .buy-bt .pur-app .sm {font-size: 20px; display: block; font-weight: 400; letter-spacing: -1px;}



#detail_wrap .info .buy-bt{floaT:left; margin-top:25px}
#detail_wrap .info .bntwrap{margin:20px 0}

#detail_wrap .detail_tab {float:left;}
#detail_wrap .detail_tab li {float:left;display:block;margin:30px 0;width:237px;height:75px;font-size:25px;color:#4a4a4a;text-align:center;letter-spacing:-0.5px;line-height:3;background:#f6f6f5;border-top:2px solid #ebebeb;border-right:2px solid #ebebeb;border-bottom:2px solid #34353a}
#detail_wrap .detail_tab li a {display:block;line-height:3;width:237px;height:75px;color:#4a4a4a;text-decoration:none}
#detail_wrap .detail_tab .on {border-top:4px solid #34353a; background:#34353a;border-bottom:none;border-right:1px solid #34353a;border-left:1px solid #34353a}
#detail_wrap .detail_tab .on a {color:#fff; text-decoration:none}
#detail_wrap .detail_tab .last {border-right:none}
#detail_wrap .detail_img2{width:720px; margin:auto 0; text-align:center}
#detail_wrap .detail_img2 img{ margin:auto 0; }
#detail_re {float:left; width:680px;font-size:25px;color:#4a4a4a;text-align:left}
#detail_re .txt {position:relative;padding-left:20px;padding-top:20px;width:700px;height:90px;text-align:left;line-height:3}
#detail_re .txt .write {position:absolute;top:20px;right:30px;display:block;border-radius:10px;width:170px;height:55px;background:#ff5e4d;color:#fff;text-align:center;line-height:2.2}
#detail_re .txt .write a {color:#fff;text-decoration:none}
#detail_re ul {float:left;width:720px;border-top:2px solid #ebebeb}
#detail_re li {float:left;width:680px;line-height:1.8;font-size:25px;border-bottom:1px solid #ebebeb}
#detail_re li.list { padding:20px;}
#detail_re li table {line-height:1.8;font-size:25px;color:#4a4a4a}
#detail_re li table a {color:#4a4a4a;text-decoration:none}
#detail_table .no {color:#858585; font-weight:600}
#detail_table .ok {color:#f06041; font-weight:600}
#detail_table .date {color:#858585; }
#detail_re .text {position:relative; width:680px; padding:20px 20px 50px 20px; background:#f5f5f5; font-size:22px; border-bottom:1px solid #ebebeb;}
#detail_re .text .delete {position:absolute; bottom:20; right:20px; }
#detail_re .text .modify {position:absolute; bottom:20; right:95px; }
#detail_re .text_ssen {position:relative; padding:20px 20px 50px 20px; background:#fff8f4; font-size:22px; border-bottom:2px solid #ebebeb}

#detail_notice {float:left;margin-bottom:30px;width:720px;color:#4a4a4a;font-size:22px}
#detail_notice h3 {display:block;margin-bottom:10px;font-size:25px;font-weight:600; letter-spacing:-0.5px}
#detail_notice li {float:left;padding:20px;line-height:1.8;border-bottom:2px solid #ebebeb;font-size:22px; letter-spacing:-0.5px}

/*** 로그인 */
.login_txt{floaT:left; width:632px; height:63px; border:1px solid #eaeaea; background-color:#f2f2f2; font-size:20px; padding:25px 20px; line-height:1.5; margin:20px 0 0 22px; letter-spacing:-0.3}
.dashed_line{float:left;width:700px;height:50px;margin:0 auto;border-bottom:1px dashed #adadad;}
.loginBoxWrap{float:left;width:100%;height:auto;overflow:hidden;}
.loginBoxWrap .loginBox_title{font-size:32px;font-weight:600;color:#3f3f3f;text-align:center;margin:25px 0px;}
.loginBoxWrap .loginBox{width:600px;height:380px;background:#fcfcfc;margin:0 auto;margin-top:3px; padding-top:40px;}
.loginBoxWrap .loginBox .text_loginBox{width:419px;margin:0 auto;}
.login_Btn{width:419px;margin:0 auto;}
.loginBoxWrap .loginBox .text_loginBox input{width:419px;height:59px;background:#fff2eb;border:1px solid #fecdb0;margin-bottom:15px;}
.login_Btn input{width:419px;height:81px;border:none;padding:0;margin-top:20px; !important}
.loginBoxWrap .loginBox .page_link{display:block;margin-top:35px;}
.loginBoxWrap .loginBox .page_link ul{width:335px;height:auto;overflow:hidden;margin:0 auto;}
.loginBoxWrap .loginBox .page_link ul li{float:left;margin-right:20px;}


/*아디디 찾기*/
.select_bar{float:left;width:100%;border-bottom:1px solid #cdcdcd;}
.select_bar ul{width:500px;height:50px;margin:0 auto;}
.select_bar li{float:left;font-size:26px;}
.select_bar input{width:20px;height:20px;}
.tab_wrap{float:left;width:100%;}
.tab_wrap ul{width:100%;height:80px;line-height:80px;border-bottom:1px solid #cdcdcd;}
.tab_wrap ul li{float:left;}
.tab_wrap ul li.width_li{width:185px;font-size:20px;padding-left:15px;}
.tab_wrap ul li.input_li input{width:500px;height:60px;border:1px solid #cdcdcd;}
.tab_wrap p{font-size:19px;text-align:center;margin:15px 0px 50px 0px;}
.tab_wrap p span{color:#f5402d;}
.tab_wrap .m_find_btn{width:514px;height:86px;margin:0 auto;}
.tab_wrap .m_find_btn input {width:514px;height:86px;border:none;padding:0;margin:0 auto !important}
.tab_wrap .pw_email_tab{height:150px;}
.tab_wrap .pw_email_tab li.certification{width:700px;}
.tab_wrap .pw_email_tab li.certification input.certification_num {float:left;width:300px; height:50px;margin-left:195px;}
.tab_wrap .pw_email_tab li.certification input.certification_btn{float:left;width:200px; height:50px;font-size:19px;background:#cac8c8;color:#fff;border:none;text-align:center;margin-left:5px;}

/*회원가입*/
#s_logo{float:left;width:100%;}
#s_logo img{display:block;width:244px;height:50px;margin:0 auto;}
#joinwrap{float:left;width:100%;height:auto;margin-top:30px;overflow:hidden;}
#joinwrap form {width:600px;margin:0 auto;}
#joinwrap form .style_input{margin-bottom:20px;}
#joinwrap form .style_input input{width:600px;height:50px;}
#joinwrap form div.style_select input {width:350px;height:48px;border:1px solid #c6c6c6;margin-bottom:15px;}
#joinwrap form div.style_select select {width:245px;height:48px;border:1px solid #c6c6c6;margin-bottom:15px;}
#joinwrap form .style_checkbox{margin-bottom:15px;}
#joinwrap form .style_checkbox input{width:30px;height:30px;}
#joinwrap .clause {width:100%;height:auto;overflow:hidden;background:#e8e8e8;padding-bottom:50px;}
#joinwrap .clause p{font-size:19px;font-weight:600;text-align:center;margin:20px 0px;}
#joinwrap .clause ul{margin-top:20px;width:100%;margin:0 auto;}
#joinwrap .clause ul li{background:#f2f2f2;border:1px solid #d2d2d2;margin-bottom:3px;font-size:19px;line-height:70px;}
#joinwrap .clause ul li input {width:30px;height:30px;margin-left:55px;}
#joinwrap .clause ul li span{height:10px;float:right;margin:30px 30px 0px 0px;cursor:pointer;} 
#joinwrap .clause ul li div{display:none;width:100%;height:120px;border-top:1px solid #d2d2d2;background:#e3e3e3;}
#joinwrap .clause ul li div p{font-size:18px;font-weight:normal;text-align:left;padding:0 15px;}


/*** 장바구니 */
#cart{float:left;padding:20px 20px ;width:680px;font-size:25px;text-align:left;line-height:1.5}
#cart .prod_ttlbox{float:left; margin-bottom:20px}
#cart .cart_pr{float:left; width:638px; border:1px solid #d1d1d1; margin-top:15px; padding:25px 20px;}
#cart .cart_pr .pr_ttlbox{border-bottom:1px solid #000; padding-bottom:30px}
#cart .cart_prinfo{floaT:left; }
#cart .cart_prinfo .thumb{floaT:left; width:192px; height:192px; padding-top:20px}
#cart .cart_prinfo .thumb img{floaT:left; width:192px; height:192px;}
#cart .cart_prinfo .con{floaT:left; margin-left:30px}
#cart .cart_prinfo .con .cart_ta{floaT:left; margin-top:30px}
#cart .cart_prinfo .con .cart_ta th{font-size:25px; font-weight:600; padding:10px 0}
#cart .cart_prinfo .con .cart_ta td{font-size:25px; font-weight:600;padding:10px 0}

#cart .cart_ca{float:left; width:590px; border:5px solid #ff5e4d; margin-top:15px; padding:25px 40px;}
#cart .cart_ca .cart_ta1{floaT:left; width:590px;}
#cart .cart_ca .cart_ta1 th{font-size:26px; font-weight:600; padding:10px 0; floaT:left}
#cart .cart_ca .cart_ta1 td{font-size:26px; font-weight:600;padding:10px 0; floaT:right; text-align:right}
#cart .cart_ca .cart_ta1 tr.on{ border-top:1px solid #000;}
#cart .cart_ca .cart_ta1 tr.on th{font-size:30px; color:#f11e02; padding-top:20px; floaT:left}
#cart .cart_ca .cart_ta1 tr.on td{font-size:30px; color:#f11e02; padding-top:20px}
#cart .cart_ca .cart_ta1 tr.ps th{padding-bottom:25px}

/*** 주문/결제 */
#order{float:left;padding:20px 20px ;width:680px;font-size:25px;text-align:left;line-height:1.5}
#order .oder_pr{float:left; width:638px; border:1px solid #d1d1d1; margin-top:15px; padding:15px 20px; margin-bottom:40px}
#order h4{font-size:28px;text-align:left; letter-spacing:-1px; float:Left}
#order .oder_prinfo{floaT:left; }
#order .oder_prinfo .thumb{floaT:left; width:192px; height:192px; padding-top:50px}
#order .oder_prinfo .thumb img{floaT:left; width:192px; height:192px;}
#order .oder_prinfo .con{floaT:left; margin-left:30px}
#order .oder_prinfo .con .oder_ta{floaT:left; width:400px; margin-bottom:10px;}
#order .oder_prinfo .con .oder_ta .tim{border-bottom:1px solid #000;  }
#order .oder_prinfo .con .oder_ta th{font-size:25px; font-weight:600; padding:20px 0; border-bottom:1px solid #e2e1e1; }
#order .oder_prinfo .con .oder_ta td{font-size:25px; font-weight:600;padding:20px 0; border-bottom:1px solid #e2e1e1; color:#ff5e4d}

#order .info2 {margin:auto;width:680px; border-top:2px solid #e2e1e1; margin-top:15px; margin-bottom:40px; float:left}
#order .info2 td {padding-left:20px;border-bottom:2px solid #e2e1e1;font-size:25px;color:#1b1b1b; padding-top:20px;  padding-bottom:20px}
#order .info2 th {padding-left:20px;border-bottom:2px solid #e2e1e1; border-right:2px solid #e2e1e1; background:#fafafa;font-size:25px;color:#694932;font-weight:600}
#order .info2 .txts{margin-top:5px; letter-spacing:-1px}
#order .info2 .cotx{color:#f06041; }
#order .info2 .m-ti{line-height:1.6}
#order .fof{margin:10px 0}
#order .info2 .price {font-size:33px;color:#f06041;font-weight:600}
#order .info2 .discount {color:#898888;font-weight:600}
#order .info2 .name {line-height:1.7}
#order .info2 .g_b_l {border-top:4px solid #5e9500;border-left:4px solid #5e9500;border-bottom:4px solid #5e9500}
#order .info2 .g_b_r {border-top:4px solid #5e9500;border-right:4px solid #5e9500;border-bottom:4px solid #5e9500}

#order .way{float:left; font-size:22px; margin-top:20px}
#order .pay {float:left; width:680px; padding:30px 0;color:#4a4a4a;background:#fafafa;border-bottom:2px solid #ebebeb;border-top:2px solid #ebebeb;color:#694932;font-weight:600; margin-top:20px; margin-bottom:40px}
#order .agreeBox {margin:20px 0;border:2px solid #ebebeb;height:250px;border-radius:7px; float:left}
#order .agreeBox .agreeCon {height:220px;overflow-y:auto;margin:20px 20px 0 20px;color:#898888;font-size:22px;line-height:1.5}

#order .comp{margin:auto; text-align:center; letter-spacing:-1px; margin-bottom:40px; font-size:28px; font-weight:600}
#order .btn{clear:both; text-align:center; margin-bottom:40px}

/*** 마이페이지 */
#mypage{position:relative; padding:15px; width:690px;}
#mypage .txt{font-size:24px; margin-top:30px; line-height:1.3}

/*** 배송/주문조회 */
#order_list_wrap{position:relative; width:720px;}
#order_list_wrap .order_list_ch{ padding-bottom:10px; margin-left:20px}
#order_list_wrap .order_list{width:720px; margin-top:40px; float:left}
#order_list_wrap .order_list .tit{float:left; height:45px; width:660px; padding:10px 30px; border-top:2px solid #ff5e4d; border-bottom:2px solid #ebebeb; background-color:#f6f6f6}
#order_list_wrap .order_list .tit .num a{font-size:26px; font-weight:600; line-height:1.7 ; color:#ff5e4d}
#order_list_wrap .order_list .info{width:720px; border-bottom:2px solid #ebebeb; margin-top:20px; float:left;}
#order_list_wrap .order_list .info th{padding:0 0 20px 30px; font-size:25px; font-weight:600;}
#order_list_wrap .order_list .info td{padding-bottom:20px; font-size:25px; color:#6e6e6e}

/*** 포인트조회 */
#point{position:relative; width:720px;}
#point .pointw{floaT:left; width:720px; margin-bottom:40px; padding-top:35px; height:120px; font-size:28px; color:#4a4a4a; text-align:center; line-height:1.5; background-color:#fef0e5}
#point .point_t {float:left;margin-bottom:10px;width:720px;font-size:22px}
#point .point_t td {padding:20px 0;border-bottom:2px solid #ebebeb;color:#4a4a4a;text-align:center}
#point .point_t th {padding:20px 0;background:#f7f7f7;border-top:2px solid #ff5e4d;border-bottom:2px solid #ebebeb;color:#2c2c2c;text-align:center;font-weight:600}

/*** 공지사항 */
#notice{position:relative; width:720px;}
#notice .notice_list{float:left; width:720px; border-top:2px solid #ff5e4d;}
#notice .notice_list li{padding:20px; border-bottom:2px solid #ebebeb;}
#notice .notice_list a {color:#4a4a4a;text-decoration:none}
#notice .notice_list .tit {display:block;line-height:1.4;letter-spacing:-0.5px;font-weight:600; font-size:25px; width:500px}
#notice .notice_list .day {position:absolute;  right:20px;font-size:22px; color:#7b7b7b}
#notice .notice_list .txt {position:absolute;right:170px;font-size:22px;font-weight:600}
#notice .notice_list li.txt1{padding:20px; border-bottom:2px solid #ebebeb; font-size:25px; line-height:1.5}

/*** 자주하는질문
#faq_wrap{width:720px; margin:auto}
#faq_wrap .sele{width:680px; margin-left:20px}
#faq_wrap .bdlist{float:left; width:720px; border-top:2px solid #ff5e4d;; margin-top:30px}
#faq_wrap .bdlist li{padding:20px; border-bottom:2px solid #ebebeb;}
#faq_wrap .bdlist a {color:#4a4a4a;text-decoration:none}
#faq_wrap .bdlist .tit {display:block;line-height:1.4;letter-spacing:-0.5px;font-weight:600; font-size:25px; width:530px}
#faq_wrap .bdlist .gubun {color:#ff5e4d;floaT:left; margin-right:10px}
#faq_wrap .bdlist .on{background-color:#fff8f4; font-size:22px; line-height:1.4} */

/*** 공지사항,자주하는질문 */
#board {float:left; width:720px; margin-bottom:40px}
#board .bdlist {width:720px;}
#board .bdlist .subject {float:left; position:relative; width:720px;  border-bottom:2px solid #ebebeb; font-size:25px; color:#4a4a4a;}
#board .bdlist .subject a {color:#4a4a4a; text-decoration:none}
#board .bdlist .subject .tit {display:block; padding:20px; width:500px; line-height:1.5; letter-spacing:-0.5px; font-weight:600}
#board .bdlist .subject .tit2 {display:block; padding:15px 25px; width:200px; line-height:1.4; letter-spacing:-0.5px}
#board .bdlist .subject .tit3 {float:right; display:block; padding:25px; width:490px; line-height:2; letter-spacing:-0.5px; line-height:1.5}
#board .bdlist .subject .day {position:absolute; right:20px; font-size:22px}
#board .bdlist .subject .txt {position:absolute; right:170px; font-size:22px; font-weight:600}
#board .bdlist .contents {clear:both; padding:30px 20px; font-size:22px; color:#4a4a4a; line-height:1.5; border-bottom:2px solid #ebebeb; background-color:#fff8f4}
#board .faq {margin:0 auto; padding-bottom:30px; width:720px; text-align:center}
#board .bdlist .subject .gubun {position:absolute; left:20px; font-size:25px; color:#ff5e4d; font-weight:600; width:170px; line-height:1.5}

/*** 1:1문의하기 */
#qna_wrap{width:720px}
#qna_wrap .topbtn{float:right; margin-right:20px }
#qna_wrap .qnalist{float:left; width:720px; border-top:2px solid #ff5e4d;; margin-top:30px}
#qna_wrap .qnalist li{padding:20px; border-bottom:2px solid #ebebeb; float:left;  width:720px;}
#qna_wrap .qnalist a {color:#4a4a4a;text-decoration:none}
#qna_wrap .qnalist .col1{display:table-cell; vertical-align:middle; width:170px; font-size:25px; font-weight:600; padding-right:10px; }
#qna_wrap .qnalist .col2{display:table-cell; vertical-align:middle; font-size:13px; line-height:17px; color:#555; padding-right:5px; font-size:25px; font-weight:600; line-height:1.0;width:510px}
#qna_wrap .qnalist time{display:block; color:#7a7a7a; margin-top:5px; font-weight:500;}
#qna_wrap .qnalist .an{color:#ff5e4d;}
#qna_wrap .qnalist .on{background-color:#fff8f4; font-size:22px; line-height:1.4; text-align:center; clear:both }
#qna_wrap .qnalist .txt{font-size:22px; padding:40px 20px; line-height:1.5; }
#qna_wrap .qnalist .re{background-color:#fff8f4; font-size:22px; padding:40px 20px; line-height:1.5}
#qna_wrap .qnalist .ti{color:#ff5e4d;  font-size:22px;}
#qna_wrap .qnalist .btnn{ floaT:right; margin-top:40px; margin-right:40px}
#qna_wrap .write_t {float:left;width:720px; border-top:2px solid #ff5e4d}
#qna_wrap .write_t th {padding:20px; 0 20px 20px; border-bottom:2px solid #ebebeb;line-height:1.5; font-size:25px;color:#694932;font-weight:600; background:#fafafa; border-right:2px solid #e2e1e1;}
#qna_wrap .write_t td {padding:20px; 0 20px 20px; border-bottom:2px solid #ebebeb;line-height:1.5;font-size:25px;color:#4a4a4a;letter-spacing:-0.5px}

/*** 상품후기 */
#review{width:720px}
#review .num{margin-left:20px; font-size:25px; letter-spacing:-0.5}
#review .btn{margin-top:20px; float:right; margin-right:20px}
#review .review_list{float:left; width:720px; border-top:2px solid #ff5e4d;; margin-top:30px}
#review .review_list li{padding:20px; border-bottom:2px solid #ebebeb; float:left;  width:720px;}
#review .review_list a {color:#4a4a4a;text-decoration:none}
#review .review_list .col1{display:table-cell; vertical-align:middle; width:128px;}
#review .review_list .col1 img{border:1px solid #e1e1e1; width:130px; height:130px;  margin-right:20px;}
#review .review_list .col2{display:table-cell; vertical-align:middle; font-size:13px; line-height:17px; color:#555; padding-right:5px; font-size:25px; font-weight:600; line-height:1.0}
#review .review_list time{display:block; color:#7a7a7a; margin-top:5px; font-weight:500;}
#review .review_list .on{background-color:#fff8f4; font-size:22px; line-height:1.4; clear:both }
#review .review_list .sbtn{float:right}
#review .review_list .btnn{ floaT:right; margin-top:40px; margin-right:40px}
#review .review_t {float:left;width:720px; border-top:2px solid #ff5e4d}
#review .review_t th {padding:20px; 0 20px 20px; border-bottom:2px solid #ebebeb;line-height:1.5; font-size:25px;color:#694932;font-weight:600; background:#fafafa; border-right:2px solid #e2e1e1;}
#review .review_t td {padding:20px; 0 20px 20px; border-bottom:2px solid #ebebeb;line-height:1.5;font-size:25px;color:#4a4a4a;letter-spacing:-0.5px}

/*** 이용안내 */
#howto_wrap{width:720px}
#howto_wrap .howto_list{float:left; width:720px; border-top:2px solid #ff5e4d;; margin-top:30px}
#howto_wrap .howto_list li{padding:20px; border-bottom:2px solid #ebebeb; float:left;  width:720px; font-size:25px; font-weight:600}
#howto_wrap .howto_list a {color:#4a4a4a;text-decoration:none}
#howto_wrap .howto_list .col1{color:#ff5e4d; margin-right:20px}
#howto_wrap .howto_list .on{background-color:#fff8f4; font-size:22px; line-height:1.5;font-weight:500; padding:30px 20px 30px 20px;  width:720px; letter-spacing:-0.5}
#howto_wrap .howto_list .sbtn{float:right}
#howto_wrap .howto_list .btnn{ floaT:right; margin-top:40px; margin-right:40px}
#howto_wrap .txt{border:5px solid #e9e9e9; width:610px; floaT:left; margin-left:20px; padding:30px; font-size:22px; text-align:center; line-height:1.2}

/*** 이용약관,개인정보취급방침 */
#consent{padding:20px; width:680px; font-size:22px; line-height:1.4}

/*** 페이징 */
.paging {margin-top:40px; float:left; width:720px; height:51px; text-align:center; color:#092a8c; font-size:22px}
.paging a {color:#ff5e4d; text-decoration:none}
.paging .on {color:#ff5e4d; font-weight:600}
.paging .on a {color:#ff5e4d}

/*** 공통 */
.ptbt20{clear:both; padding-top:20px }
.mt20{margin-top:20px}
.sba_bn{margin:30px 0; float:left}
.orange {color:#ff5e4d}
.texta{text-align:center; clear:both}
.magin20{margin:20px 0; text-align:center; clear:both}
.magintop20{text-align:center; padding-top:40px; clear:both}


/*앱설치유도 팝업 20161102*/
#pop_app {position:relative; float:left; width:100%; padding-top:120px; text-align:center; -webkit-tap-highlight-color:rgba(0,0,0,0)}
#pop_app .close {position:fixed; top:5px; right:5px; z-index:9}
#pop_app .all {position:absolute; top:0; right:0}
#pop_app .btn {position:fixed; bottom:0; right:0}

/* 쎈플라워앱설치유도팝업 20161103*/
#pop_app4{ position:relative; z-index:99999; margin:auto; width:80%; margin-top:30px; }
#pop_app4 .closebt{position:absolute; top:0; right:0; z-index:9}
#pop_app4 .text{background:#ff5e4c;  border-top-left-radius:23px; border-top-right-radius:23px; padding-top:40px; padding-left:10px; padding-right:10px; text-align:center}
#pop_app4 .text .point {background:#ff5e4c; margin-top:10px; margin-bottom:5px; color:#fffc00; font-size:3.5em; font-weight:bold; letter-spacing:-1px; line-height:1.1}
#pop_app4 .text p {background:#ff5e4c; color:#fff; font-size:2.5em; line-height:1.1; letter-spacing:-2px}
#pop_app4 .close{background:#121212; border-bottom-right-radius:23px; border-bottom-left-radius:23px; color:#fff; letter-spacing: -0.5px; padding:24% 5% 3% 7%; font-size:13px}
#pop_app4 .close .check1{margin-top:3px; margin-right:5px; float:left; width:15px; height:15px; color:#343434; background: url(http://img.ssenflower.co.kr/img/m_img/category_check.png) 10% 50% no-repeat; background-size: 13px 13px;-webkit-background-size: 13px 13px;}
#pop_app4 .appbt{width:100%; background:#fff;float:left; padding:1% 0}
